body {
    background-color: white;
    font-family: 'Berlin Sans FB Demi';
    color:gray;
    margin: 0;
}
thead{
    font-weight:bold;
    color:black;
    background: #eee;
}
#MenuNav{
  margin:0 auto 0 auto; 
  width:1100px;
  background-color: gray;
}

nav {
    font-size: 1em;
    display: block; 
    margin: 0 auto 0px;
    border: .5px solid #241189;
    position: relative; 
    background-color: #C2C2C2;

}

nav ul {
     padding: 0; 
     margin: 0 ; 
}


nav ul:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}

nav li { 
    position: relative; 
    float: left; 
    list-style-type: none; 
    background-color: gray;
}

nav li a { 
    display: block; 
    padding: 10px 20px; 
    border-left: .5px solid gray;
    border-right: 1px solid white;
    color: white;
    text-decoration:none; 
}

nav li a:focus { 
    outline: none; 
    text-decoration: underline; 
}

nav li:first-child a { 
    border-left: none; 
} 

nav li.ultimo a { 
    border-right: none; 
}

nav li:hover ul { 
    display:block; 
}

nav a span { 
    display: block; 
    float: right; 
    margin-left: 5px; 
}

nav ul a span { 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform: rotate(-180deg);
}
/*SUB MENU*/
nav ul ul { 
    display: none; 
    width: 100%; 
    position: absolute; 
    left: 0; 
    background: #FDEDB2; 
}

nav ul ul li { 
    float: none; 
    background-color: rgba(255,238,188,.3);
}

nav ul ul a{
  color: gray;
}


nav ul ul a {
    padding: 5px 10px;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

nav ul a{
    color: white;
}

nav ul a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul ul a:hover { 
    background-color: #e2d8b9;
    color: gray;
}

nav { 
    /*border-radius:4px;*/
    box-shadow:2px 2px 2px rgba(0,0,0,.75);

    background-image:-moz-linear-gradient(0% 22px 90deg, #FBE080, #999); 
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#7592be));  */
    
    /*-moz-border-radius:4px;*/
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75);

/*    -webkit-border-radius:4px;*/
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
}

nav li:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, #999, #FBE080); 
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#FBE080), to(#999)); */
    background-color: red;
}

.LinkMenuActivo{
  background-color: red;
}

.LinkMenuInActivo{
   background-color: gray;
}

nav ul ul li:hover{
    background-color:rgba(253,237,178,.6);
}
nav ul ul { 
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;
    box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    background-color:rgba(255,255,255,.98); 

    /*-moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;  */
}

nav ul ul li { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-right:1px solid rgba(0,0,0,0.1); 
}

nav ul ul li.ultimo, nav ul ul li.ultimo:hover { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;  
    
    /*-moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;*/ 
}

nav ul ul a:hover {
    background-color:rgba(240,232,203,.9);
}

#MenuNav ul li a.uno, #MenuNav ul li a.dos {background-color: red;}

table.altrowstable {
 font-family: verdana,arial,sans-serif;
 font-size:13px;
 color:#333333;
 border-width: 1px;
 border-color: black;
 border-collapse: collapse;
 }
 table.altrowstable th {
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: black;
 }
 table.altrowstable td {
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: black;
 }
 .oddrowcolor{
 background-color:#d4e3e5;
 }
 .evenrowcolor{
 background-color:#c3dde0;
 }

/*tr:nth-child(even) { background: #8387c7 }*/
tr:nth-child(odd) { background: #fff}

.contenido{
  display: block;
  margin: 0 auto 0 auto;
  max-width:900px;

 -moz-box-shadow: -5px -5px 5px 10px 10px #888;
  -webkit-box-shadow: -5px -5px 10px 10px#888;
  box-shadow: -5px -5px 10px 10px #888;

}

article header h1{
  color:#666768;
  font-family: 'Berlin Sans FB Demi';
  font-size: 2em;
}

 #servicios h1{
   text-align:center;
   margin: 0;
   margin-bottom: 20px;
 }

#servicios li{
  color:#909090;
  font-family: 'Berlin Sans FB Demi';
  line-height:2em;
}

footer{
    text-align:left;
    width:1100px;
    margin:0 auto 0 auto;
    background-color:#e1e0e0;
}

footer h3{
    margin: 5px 0 0px 40px;
}

footer a:visited, footer a:active, footer a:link {
  text-decoration: none;
  text-decoration: none;
  text-decoration: none;
  text-decoration: none;
  color:gray;
}

footer a:hover{
  font-size:1em;
  font-weight:bold;
}

footer ul{
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
footer li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
}

.dos_columnas li { width:50%;}
.tres_columnas li { width:33.333%; }
.cuatro_columnas li { width:25%; }
.cinco_columnas li { width:16.666%; }

#informes img{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  display:block;
}

#informes img:hover{
 border: solid gray;
}

/*##########################################################################formulario###############################################*/


#searchBoxOne input.search {
    font-size: 16px;
    color: #999;
    padding: 6px;
    -moz-box-shadow:inset 2px 2px 5px #ccc;
    box-shadow:inset 2px 2px 5px #ccc;
    border: 1px solid #b8b8b8;
}
#searchBoxOne input.submit {
    background: url(images/01_submit.png) top left no-repeat;
    width: 67px;
    height: 32px;
    border: none;
    color: #dee4ff;
    cursor: pointer;
}
#searchBoxOne input.submit:hover,
#searchBoxOne input.submit.hover {
    background: url(images/01_submit.png) bottom left no-repeat;
}

.tarjetaMedico{

  margin-bottom: 10px;
  width: 400px;
  float: left;
  margin-right: 1em;

}

#listaMedicos{
  margin: 0 auto 0 auto;
  width: 830px;
}

.tarjetaMedico header{
  background-color: #859ED6;
  -webkit-border-radius: 7px 7px  0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  padding-left: 7px;
  color: white;
  font-weight: bold;
  border-style:dashed;
  border-width: 2px;
  border-bottom:none;
  border-color: #BEBEBE;
  text-align: left;

}

.tarjetaMedico section{
  background-color: white;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius:0 0 7px 7px;
  border-radius:0 0 7px 7px;
  padding-left: 7px;
  padding-bottom: 5px;
  color: gray;
  border-style:dashed;
  border-width: 2px;
  border-top:none;
  border-color: #BEBEBE;
  min-height:120px;
}

.tarjetaMedico label{
  font-weight: bold;
}

.flechabot {
  border-color: transparent transparent white transparent;
border-style:solid;
border-width:5px;
width:0;
height:0;
margin-top: .5em;
}