<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>HOSPITAL MEDICA SIERRA - {% block titulo %}{% endblock %}</title>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>

  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.css'/>
  <link href='http://fonts.googleapis.com/css?family=Eagle+Lake' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/screen.css'/>

  {% block style_css %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" ></script>
  <script type='text/javascript' src='{{STATIC_URL}}js/bootstrap.min.js'></script>
  
  {% block js_code %}{% endblock %}
</head>
<body style="background-color:white;">
  <br>
  <div style="margin:0 auto 0  auto; width:1100px;">
    <img  style='display:block;margin:0 200px 0 30px; float:left;' src='{{STATIC_URL}}img/bannerL1.png' />
    <img  style='display:block;margin:0 auto 0 830px;' src='{{STATIC_URL}}img/bannerR.png' />
    <div style="text-align:right; height:2em;">
      {% if user.username %}
       {{ user.first_name }} {{ user.last_name }} <a class="btn btn-small btn-danger" href="/logout/">  Cerrar Sesión</a>
      {% else %}
        <a class="btn btn-small btn-success" href="/login/">Iniciar Sesión</a>
      {% endif %}
    </div>
  </div>
  <header>
    {% block encabezado%}{% endblock %}
    <div >
    <nav>
      <ul id="MenuNav" style="z-index:600;">
        <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href="/servicios/"><i class="icon-eye-open icon-white" ></i> Servicios</a></li>
        <li><a href="/directorioMedico/"><i class="icon-user icon-white"></i> Directorio Medico</a></li>
        <li><a href="/ubicacion/"> <i class="icon-screenshot icon-white"></i> Ubicacion</a></li>
        <li><a href="#" title="Reportes"><i class="icon-calendar icon-white"></i> Derechos &nbsp;<span class="flechabot"/> </a>
          <ul>
            <li><a href="/derechosPacientes/">Derechos de los Pacientes</a></li>
            <li><a href="/derechosPacientesAleman/">Die Rechte der Patienten</a></li>
            <li><a href="/derechosMedicos/">Derechos de los Medicos</a></li>
            <li><a href="/derechosEnfermeras/">Derechos de las Enfermeras</a></li>
          </ul>
        </li>
        {% if user.username %}
        <li><a href="#" title="Reportes"><i class="icon-calendar icon-white"></i> Internamientos&nbsp;<span class="flechabot"/></a>
          <ul>
              <li><a href="/internamientosActuales/">Internamientos Actuales</a></li>
              <li><a href="/internamientos/">Reporte de Internamientos</a></li>
              <li><a href="/admin/main/internamiento/">Editar Internamientos</a></li>
          </ul>
        </li>
        <li><a href="/directorioContactos/?query="><i class="icon-user icon-white"></i> Agenda</a></li>
        {% else %}
        <li><a href="/internamientosActuales/" title="Reportes"><i class="icon-calendar icon-white"></i> Internamientos&nbsp;</a>
        {% endif %}
      </ul>
    </nav>
    </div>
  </header>

  <div style='background-color:#ededed;'>
    <br style='height:.2em;'>
    <section id='contenido' style='background-color:#ededed; display:block; margin: 0 auto 0 auto; width:1100px;'>
    {% block contenido %}{% endblock %}
    </section>
  </div>
  <div style='background-color:#e1e0e0;'>
    <footer>
      <br>
      <h3>Derechos</h3>
      <ul class="tres_columnas">
        <li><a href="/derechosPacientes/">Derechos de los Pacientes</a></li>
        <li>.</li>
        <li>.</li>
        <li><a href="/derechosMedicos/">Derechos de los Medicos</a></li>
        <li>.</li>
        <li>.</li>
        <li><a href="/derechosPacientesAleman/">Die Rechte der Patienten</a></li>
        <li>.</li>
        <li>.</li>
        <li><a href="/derechosEnfermeras/">Derechos de las Enfermeras</a></li>
        <li>.</li>
        <li>.</li>

      </ul>
      <div style="text-align:right; padding:0 20px 0 0;">2012 Hospital Medica Sierra. Todos los derechos reservados</div>
      </br>
    </footer>
  </div>
</body>
</html>