{% extends "base1.html" %}
{% block titulo %}CONTACTO{% endblock %}
{% block contenido %}
<header>
	<h1>Medico</h1>
</header>
   <form id="formulario" class="form-horizontal" method='post' action=''>{% csrf_token %}
   	<br>
	{{ formulario.non_field_errors }}
   	<div style="text-align:left;">
   		<fieldset>
    	<legend>Informacion Personal:</legend>
	  	<span class="span3">
	  		Nombres
	  		<br>
	  		{{ formulario.first_name.errors }}
	  		{{ formulario.first_name }}
	  	</span>
	  	<span class="span3">
	  		Apellidos
	  		{{ formulario.last_name.errors }}
	  		{{ formulario.last_name }}
	  	</span>
	  	<div>
	  	<span class="span3">
	  		Especialidad
  			{{ formulario.specialty.errors }}
  			{{ formulario.specialty }}
  		</span>
  		<span class="span3">
  			Descripcion
  			{{ formulario.description.errors }}
  			{{ formulario.description }}
  		</span>
  		<span class="span3">
  			Fotografia
		  	{{ formulario.image.errors }}
		  	{{ formulario.image }}
		 </span>
		</div>
		 <br>
		</fieldset>
  	</div>
  	<div style="text-align:left;">
   		<fieldset>
    	<legend>Informacion de Contacto:</legend>
    	<span class="span3">
  			Email
  			<br>
		  	{{ formulario.email.errors }}
		  	{{ formulario.email }}
		</span>
  		<span class="span3">
		  	Telefono Casa
		  	{{ formulario.home_phones.errors }}
		  	{{ formulario.home_phones }}
		</span>
  		<span class="span3">
		  	Telefono Oficina
		  	{{ formulario.office_phones.errors }}
		  	{{ formulario.office_phones }}
		</span>
  		<span class="span3">
		  	Telefono Personal
		  	{{ formulario.personal_phones.errors }}
		  	{{ formulario.personal_phones }}
		</span>
		<span class="span3">
  			Publico
		  	{{ formulario.public.errors }}
		  	{{ formulario.public }}
		 </span>
		</fieldset>
  	</div>
  	<br>
   	<p><input type='submit' class="btn btn-success" value='Guardar'/><p>
   	<br>
   	<br>
   	<br>
{% endblock %}