{% extends "base1.html" %}

{% block titulo %}UBICACION{% endblock %}

{% block contenido %}
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=hospital+medica+sierra&amp;aq=&amp;sll=28.665793,-106.064198&amp;sspn=0.364502,0.676346&amp;num=10&amp;ie=UTF8&amp;hq=hospital+medica+sierra&amp;t=m&amp;cid=17155741601630095893&amp;hnear=&amp;ll=28.414126,-106.850538&amp;spn=0.036236,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small>

<a class="btn" href="https://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=hospital+medica+sierra&amp;aq=&amp;sll=28.665793,-106.064198&amp;sspn=0.364502,0.676346&amp;num=10&amp;ie=UTF8&amp;hq=hospital+medica+sierra&amp;t=m&amp;cid=17155741601630095893&amp;hnear=&amp;ll=28.414126,-106.850538&amp;spn=0.036236,0.054932&amp;z=14&amp;iwloc=A" style="color:gray;text-align:left">Ver mapa más grande</a></small>

{% endblock %}